.banner {
    background-image: url("https://images.unsplash.com/photo-1505740420928-5e560c06d30e?auto=format&fit=crop&w=1400&q=80");
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 120px 20px;
}

.banner-content {
    background: rgba(0, 0, 0, 0.4);
    display: inline-block;
    padding: 40px 60px;
    border-radius: 10px;
}

.banner h2 {
    font-size: 36px;
    margin-bottom: 10px;
    color: rgb(222, 218, 218);
}

.banner p {
    font-size: 18px;
    margin-bottom: 20px;
}

.banner button {
    background-color: #ffeb3b;
    border: none;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.banner button:hover {
    background-color: #facc15;
}