.footer {
    background-color: #0078ff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
}

.footer-links {
    margin-top: 8px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
}

.footer-links a:hover {
    color: #ffeb3b;
}